In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import statsmodels.api as smf

# Proteomics Analysis

## Load dataset

In [2]:
filename = 'proteinGroups.txt'

def select_cols(name):
    return 'LFQ' in name or name in ['Gene names', 'Reverse', 'Potential contaminant', 'Only identified by site', 'Species']

df = pd.read_table(filename, usecols=select_cols)
df.columns = [name.split(' ')[2] if 'LFQ' in name else name for name in df.columns]
df.head(5)

/home/nickdg/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (120,121) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Gene names,Shotgun_02-01_1,Shotgun_02-01_2,Shotgun_02-01_3,Shotgun_12-01_1,Shotgun_12-01_2,Shotgun_12-01_3,BoxCar_02-01_1,BoxCar_02-01_2,BoxCar_02-01_3,BoxCar_12-01_1,BoxCar_12-01_2,BoxCar_12-01_3,Species,Only identified by site,Reverse,Potential contaminant
0,SERPINB6,3643600000,2971500000,3188400000,3655800000,3605500000,4274800000,2003200000,2241800000,2328600000,2896200000,2667100000,3020800000,Homo sapiens,NaN,NaN,NaN
1,HDLBP,5321900000,4503700000,4356100000,5657400000,5466200000,5410700000,3061100000,2786500000,2728400000,3704300000,3703300000,3659800000,Homo sapiens,NaN,NaN,NaN
2,ELOF1,86756000,69719000,108880000,152760000,99195000,134370000,54177000,57759000,71338000,98382000,91200000,95218000,Homo sapiens,NaN,NaN,NaN
3,TCEB3,317040000,421780000,412000000,444980000,503490000,385790000,260160000,260520000,284200000,302950000,352410000,368110000,Homo sapiens,NaN,NaN,NaN
4,PPT2;hCG_1999928,36886000,24031000,28317000,41376000,36666000,42425000,22815000,20307000,21351000,28480000,28804000,24763000,Homo sapiens,NaN,NaN,NaN

## Filter Data

Remove all rows that have a plus (+) sign in the "Reverse", "Potential Contaminant", and "Only identified..." columns

## Tidy Data: Change the DataFrame into a Long Format

## Transform Data: Calculate the log2 of Protein Count
But first, set all protein counts of less than 10 to NaN (np.nan).

Visualize the distribution of the log protein abundance

## Make "Method", "Sample", and "Replicate" Columns for Each Observation
 
  - **Method**: Shotgun, BoxCar
  - **Sample**: '02-01', '12-01'
  - **Replicate**: 1, 2, 3

## Visualize Data: How do the Abundances Differ across conditions?
Make at least 4 different plots!

## Ratio Analysis

What is the relationship between the 02-01 and 12-01 samples?

Make a scatter plot of log protein abundances, with 02-01 on the X axis and 12-01 on the y axis